body {
    font-family: 'Times New Roman', Times, serif;
}

#login_screen {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 3;
    align-contents: center;
}

#login_button{
    position: fixed;
    left: 35%;
    top: 30%;
    width: 30%;
    height: 20%;
}

#run-button {
    background: url("icons/run.ico");
    border: none;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin: 5%;
}
#run-button:hover  { border: solid; border-width: 1px; }
#run-button:active { box-shadow: 0 3px #aaa; transform: translateY(3px); }

#save-button {
    background: url("icons/save.ico");
    border: none;
    background-position: 50%;
    background-repeat: no-repeat;
    max-height: 100%;
    height: 48px;
    width: 48px;
    margin: 5%;
}
#save-button:hover  { border: solid; border-width: 1px; }
#save-button:active { box-shadow: 0 3px #aaa; transform: translateY(3px); }

#exit-button {
    background: url("icons/exit.ico");
    border: none;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin: 5%;
}
#exit-button:hover  { border: solid; border-width: 1px; }
#exit-button:active { box-shadow: 0 3px #aaa; transform: translateY(3px); }

#break {
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
}

#sidenav {
    position: fixed;
    z-index: 2;
    top: 0%;
    left: 0%;
    height: 99%;
    width: 20%;
    background-color: #fff;
}

#buttons {
    display: flex;
    justify-content: center;
}

#current-file {
    position: fixed;
    top: 0%;
    height: 3%;
    left: 20%;
    width: 80%;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    font-family: 'Times New Roman', Times, serif;
}

#editor {
    position: fixed;
    top: 3%;
    height: 67%;
    left: 20%;
    width: 80%;
    background-color: #fff;
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    overflow-y: scroll;
    line-height: 125%;
    font-family: monospace;
    border-bottom: 5px;
    border-style: solid;
    border-color: black;
}

#terminal {
    position: fixed;
    top: 70%;
    height: 30%;
    left: 20%;
    width: 80%;
    background-color: #333333;
    color: #33ff00;
    border-top: solid gray;
    border-width: thick thin thin thin;
    overflow-y: scroll;
}

.sidenav a,
.dir {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #111;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.file {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 20px;
    color: #111;
    display: block;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-style: solid;
    border-color: black;
    border-width: 0px;
}

.sidenav a:hover,
.dir:hover,
.file:hover {
    color: #aaa;
}

.active {
    background-color: gray;
    color: white;
}

.file-container {
    display: none;
    background-color: #ccc;
    padding-left: 8px;
}

.caret-down {
    float: right;
    padding-right: 5px;
}
